<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta httpEquiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Theme color -->
    <meta name="theme-color" content="#0A0A0A" />
    <meta name="msapplication-navbutton-color" content="#0A0A0A" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <!-- Expo injects title, icons, and scripts below -->
    <%- helmet.title.toString() %>
    <%- helmet.link.toString() %>
    <%- helmet.meta.toString() %>
    <%- helmet.style.toString() %>
    <%- helmet.script.toString() %>
  </head>
  <body>
    <div id="root"></div>
  <script src="/aurbit-web/_expo/static/js/web/index-b41732166b3488785fce61322c5be837.js" defer></script>
</body>
</html>